@tailwind base;

body{
  @apply bg-main-bg;
  transition: background 0.7s;
}
html.dark body {
  @apply bg-dark-main-bg;
}


*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(243, 243, 250, 0.95);
  border-radius: 40px;
  border: solid 0.5px rgb(117, 115, 197, 0.25);
}

*::-webkit-scrollbar-thumb {
  background-color: #7573c5;
  border-radius: 40px;
}

textarea::-webkit-scrollbar-track {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 40px;
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pop";
  src: url("../public/Fredoka-VariableFont_wdth,wght.ttf");
}

textarea {
  box-sizing: border-box !important;
  cursor: auto;
  --tw-ring-shadow: 0 0 #000 !important;

}

.input-no-ring {
  --tw-ring-shadow: 0 0 #000 !important;
}

.cover-photo{
  background-position: right 1000px top;
}
/* 
input {
  --tw-ring-shadow: 0 0 #000 !important;
} */

div{
  transition: background 0.7s ease;
}
span{
  transition: background 0.7s ease;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(117, 117, 117, 0.3) inset;
  -webkit-text-fill-color: default;

}
input {
  color-scheme: dark;
}

.chakra-popover__popper {
  z-index: 50 !important;
}